.header{
    background:rgb(121 166 66) url(../../asset/images/headbggreen.jpg);
}
Link{
    padding: 130px;
}

/* nav bottom */
.navb{
    /* border: 2px solid red; */

}
.navul{
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    list-style: none; 
}
.liclass{
    float: left;
    /* z-index: 10; */
    /* position: relative; */
    
}
.topmenu{
    color:#fff;
}
.topmenu:hover{
    color:rgb(85 124 33)
}

.navul > li:first-child .topmenu{
    color: rgb(252 175 27);
}
.topmenu{
    display: inline-block;
    padding: 7px 16px;
    text-decoration: none;
}
.subdiv{
    /* border: 1px solid yellow; */
    background: #fff;
    position: absolute;
    display: none;
    z-index: 1;
}
.submenue{
    display:block;
    /* border: 1px solid #333; */
    padding: 5px 14px;
    text-decoration: none;
    color: rgb(121 166 66);
}
.submenue:hover{
    color: rgb(252 175 27);
}
.liclass:hover .subdiv {
    display:block;
}
@media (max-width: 767.98px) {
    .liclass{
        position: relative;
    }
    .liclass:hover .subdiv {
        position: absolute;
        left: 22%;
        top: 10px; 
        z-index: 5;
        }
}